In [17]:
import json
import pickle
import numpy
import pandas
from pandas import DataFrame

In [47]:
listJf = []
with open('data/TTE/train_00', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJf.append(jf)
        
with open('data/TTE/train_01', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJf.append(jf)
        
with open('data/TTE/train_02', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJf.append(jf)
        
with open('data/TTE/train_03', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJf.append(jf)
        
with open('data/TTE/train_04', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJf.append(jf)

In [2]:
listJfTest = []
with open('data/TTE/test.json', 'r') as reader:
	for line in reader:
		jf = json.loads(line)
		listJfTest.append(jf)

In [3]:
len(listJf)

1400

In [54]:
with open('listJfAllTrain.pickle','wb') as f:
	pickle.dump(listJf, f)

In [10]:
with open('listJfTest.pickle','wb') as f:
	pickle.dump(listJfTest, f)

In [2]:
with open('listJfAllTrain.pickle','rb') as f:
	listJf = pickle.load(f)

In [3]:
with open('listJfTest.pickle','rb') as f:
	listJfTest = pickle.load(f)

In [5]:
len(listJfTest)

1400

In [33]:

lats = []
for i in range(len(listJf)):
	temp = numpy.array(listJf[i]['lats'][1:]) - numpy.array(listJf[i]['lats'][:-1])
	lats += abs(temp).tolist()
hist = numpy.histogram(lats,bins=100)
ratioOfMostGap = 0.8
iarr = numpy.where((hist[0]. cumsum() / hist[0].sum())>ratioOfMostGap)[0][0]
mostLatGap = hist[1][iarr] #包含大部份的lats間隔值
epLat = mostLatGap * 5

aList = []
for i in range(len(listJf)):
	temp = numpy.array(listJf[i]['lngs'][1:]) - numpy.array(listJf[i]['lngs'][:-1])
	aList += abs(temp).tolist()
hist = numpy.histogram(aList,bins=100)
iarr = numpy.where((hist[0].cumsum() / hist[0].sum())>ratioOfMostGap)[0][0]
mostLngGap = hist[1][iarr] #包含大部份的lats間隔值
epLng = mostLngGap * 5

aList = []
for i in range(len(listJf)):
	temp = numpy.array(listJf[i]['time_gap'][1:]) - numpy.array(listJf[i]['time_gap'][:-1])
	aList += abs(temp).tolist()
hist = numpy.histogram(aList,bins=100)
iarr = numpy.where((hist[0].cumsum() / hist[0].sum())>ratioOfMostGap)[0][0]
mostTimeGap = hist[1][iarr] #包含大部份的lats間隔值
epTime = mostTimeGap * 5

In [53]:
print(epLat)
print(epLng)
print(epTime)

0.012160099999998054
0.014610749999992125
255

In [18]:
epLat = 0.012160099999998054
epLng = 0.014610749999992125
epTime = 255

In [5]:
import lib.getTraj2

In [ ]:
#trajTrain, trajTrainOri = getTraj2(listJf, epLng, epLat, epTime)
trajTrain, trajTrainOri,mappingTrain = lib.getTraj2.getTraj2(listJf, epLng, epLat, epTime)

In [6]:
#trajTest, trajTestOri = getTraj2(listJfTest, epLng, epLat, epTime)
trajTest, trajTestOri,mappingTest = lib.getTraj2.getTraj2(listJfTest, epLng, epLat, epTime)

ID： 0
ID： 1
ID： 2
ID： 3
ID： 4
ID： 5
ID： 6
ID： 7
ID： 8
ID： 9
ID： 10
ID： 11
ID： 12
ID： 13
ID： 14
ID： 15
ID： 16
ID： 17
ID： 18
ID： 19
ID： 20
ID： 21
ID： 22
ID： 23
ID： 24
ID： 25
ID： 26
ID： 27
ID： 28
ID： 29
ID： 30
ID： 31
ID： 32
ID： 33
ID： 34
ID： 35
ID： 36
ID： 37
ID： 38
ID： 39
ID： 40
ID： 41
ID： 42
ID： 43
ID： 44
ID： 45
ID： 46
ID： 47
ID： 48
ID： 49
ID： 50
ID： 51
ID： 52
ID： 53
ID： 54
ID： 55
ID： 56
ID： 57
ID： 58
ID： 59
ID： 60
ID： 61
ID： 62
ID： 63
ID： 64
ID： 65
ID： 66
ID： 67
ID： 68
ID： 69
ID： 70
ID： 71
ID： 72
ID： 73
ID： 74
ID： 75
ID： 76
ID： 77
ID： 78
ID： 79
ID： 80
ID： 81
ID： 82
ID： 83
ID： 84
ID： 85
ID： 86
ID： 87
ID： 88
ID： 89
ID： 90
ID： 91
ID： 92
ID： 93
ID： 94
ID： 95
ID： 96
ID： 97
ID： 98
ID： 99
ID： 100
ID： 101
ID： 102
ID： 103
ID： 104
ID： 105
ID： 106
ID： 107
ID： 108
ID： 109
ID： 110
ID： 111
ID： 112
ID： 113
ID： 114
ID： 115
ID： 116
ID： 117
ID： 118
ID： 119
ID： 120
ID： 121
ID： 122
ID： 123
ID： 124
ID： 125
ID： 126
ID： 127
ID： 128
ID： 129
ID： 130
ID： 131
ID： 132
ID： 133
ID： 134
ID： 135
ID： 136
ID： 137
ID： 138
ID： 139
ID： 140
ID： 141
ID： 142
ID： 143
ID： 144
ID： 145
ID： 146
ID： 147
ID： 148
ID： 149
ID： 150
ID： 151
ID： 152
ID： 153
ID： 154
ID： 155
ID： 156
ID： 157
ID： 158
ID： 159
ID： 160
ID： 161
ID： 162
ID： 163
ID： 164
ID： 165
ID： 166
ID： 167
ID： 168
ID： 169
ID： 170
ID： 171
ID： 172
ID： 173
ID： 174
ID： 175
ID： 176
ID： 177
ID： 178
ID： 179
ID： 180
ID： 181
ID： 182
ID： 183
ID： 184
ID： 185
ID： 186
ID： 187
ID： 188
ID： 189
ID： 190
ID： 191
ID： 192
ID： 193
ID： 194
ID： 195
ID： 196
ID： 197
ID： 198
ID： 199
ID： 200
ID： 201
ID： 202
ID： 203
ID： 204
ID： 205
ID： 206
ID： 207
ID： 208
ID： 209
ID： 210
ID： 211
ID： 212
ID： 213
ID： 214
ID： 215
ID： 216
ID： 217
ID： 218
ID： 219
ID： 220
ID： 221
ID： 222
ID： 223
ID： 224
ID： 225
ID： 226
ID： 227
ID： 228
ID： 229
ID： 230
ID： 231
ID： 232
ID： 233
ID： 234
ID： 235
ID： 236
ID： 237
ID： 238
ID： 239
ID： 240
ID： 241
ID： 242
ID： 243
ID： 244
ID： 245
ID： 246
ID： 247
ID： 248
ID： 249
ID： 250
ID： 251
ID： 252
ID： 253
ID： 254
ID： 255
ID： 256
ID： 257
ID： 258
ID： 259
ID： 260
ID： 261
ID： 262
ID： 263
ID： 264
ID： 265
ID： 266
ID： 267
ID： 268
ID： 269
ID： 270
ID： 271
ID： 272
ID： 273
ID： 274
ID： 275
ID： 276
ID： 277
ID： 278
ID： 279
ID： 280
ID： 281
ID： 282
ID： 283
ID： 284
ID： 285
ID： 286
ID： 287
ID： 288
ID： 289
ID： 290
ID： 291
ID： 292
ID： 293
ID： 294
ID： 295
ID： 296
ID： 297
ID： 298
ID： 299
ID： 300
ID： 301
ID： 302
ID： 303
ID： 304
ID： 305
ID： 306
ID： 307
ID： 308
ID： 309
ID： 310
ID： 311
ID： 312
ID： 313
ID： 314
ID： 315
ID： 316
ID： 317
ID： 318
ID： 319
ID： 320
ID： 321
ID： 322
ID： 323
ID： 324
ID： 325
ID： 326
ID： 327
ID： 328
ID： 329
ID： 330
ID： 331
ID： 332
ID： 333
ID： 334
ID： 335
ID： 336
ID： 337
ID： 338
ID： 339
ID： 340
ID： 341
ID： 342
ID： 343
ID： 344
ID： 345
ID： 346
ID： 347
ID： 348
ID： 349
ID： 350
ID： 351
ID： 352
ID： 353
ID： 354
ID： 355
ID： 356
ID： 357
ID： 358
ID： 359
ID： 360
ID： 361
ID： 362
ID： 363
ID： 364
ID： 365
ID： 366
ID： 367
ID： 368
ID： 369
ID： 370
ID： 371
ID： 372
ID： 373
ID： 374
ID： 375
ID： 376
ID： 377
ID： 378
ID： 379
ID： 380
ID： 381
ID： 382
ID： 383
ID： 384
ID： 385
ID： 386
ID： 387
ID： 388
ID： 389
ID： 390
ID： 391
ID： 392
ID： 393
ID： 394
ID： 395
ID： 396
ID： 397
ID： 398
ID： 399
ID： 400
ID： 401
ID： 402
ID： 403
ID： 404
ID： 405
ID： 406
ID： 407
ID： 408
ID： 409
ID： 410
ID： 411
ID： 412
ID： 413
ID： 414
ID： 415
ID： 416
ID： 417
ID： 418
ID： 419
ID： 420
ID： 421
ID： 422
ID： 423
ID： 424
ID： 425
ID： 426
ID： 427
ID： 428
ID： 429
ID： 430
ID： 431
ID： 432
ID： 433
ID： 434
ID： 435
ID： 436
ID： 437
ID： 438
ID： 439
ID： 440
ID： 441
ID： 442
ID： 443
ID： 444
ID： 445
ID： 446
ID： 447
ID： 448
ID： 449
ID： 450
ID： 451
ID： 452
ID： 453
ID： 454
ID： 455
ID： 456
ID： 457
ID： 458
ID： 459
ID： 460
ID： 461
ID： 462
ID： 463
ID： 464
ID： 465
ID： 466
ID： 467
ID： 468
ID： 469
ID： 470
ID： 471
ID： 472
ID： 473
ID： 474
ID： 475
ID： 476
ID： 477
ID： 478
ID： 479
ID： 480
ID： 481
ID： 482
ID： 483
ID： 484
ID： 485
ID： 486
ID： 487
ID： 488
ID： 489
ID： 490
ID： 491
ID： 492
ID： 493
ID： 494
ID： 495
ID： 496
ID： 497
ID： 498
ID： 499
ID： 500
ID： 501
ID： 502
ID： 503
ID： 504
ID： 505
ID： 506
ID： 507
ID： 508
ID： 509
ID： 510
ID： 511
ID： 512
ID： 513
ID： 514
ID： 515
ID： 516
ID： 517
ID： 518
ID： 519
ID： 520
ID： 521
ID： 522
ID： 523
ID： 524
ID： 525
ID： 526
ID： 527
ID： 528
ID： 529
ID： 530
ID： 531
ID： 532
ID： 533
ID： 534
ID： 535
ID： 536
ID： 537
ID： 538
ID： 539
ID： 540
ID： 541
ID： 542
ID： 543
ID： 544
ID： 545
ID： 546
ID： 547
ID： 548
ID： 549
ID： 550
ID： 551
ID： 552
ID： 553
ID： 554
ID： 555
ID： 556
ID： 557
ID： 558
ID： 559
ID： 560
ID： 561
ID： 562
ID： 563
ID： 564
ID： 565
ID： 566
ID： 567
ID： 568
ID： 569
ID： 570
ID： 571
ID： 572
ID： 573
ID： 574
ID： 575
ID： 576
ID： 577
ID： 578
ID： 579
ID： 580
ID： 581
ID： 582
ID： 583
ID： 584
ID： 585
ID： 586
ID： 587
ID： 588
ID： 589
ID： 590
ID： 591
ID： 592
ID： 593
ID： 594
ID： 595
ID： 596
ID： 597
ID： 598
ID： 599
ID： 600
ID： 601
ID： 602
ID： 603
ID： 604
ID： 605
ID： 606
ID： 607
ID： 608
ID： 609
ID： 610
ID： 611
ID： 612
ID： 613
ID： 614
ID： 615
ID： 616
ID： 617
ID： 618
ID： 619
ID： 620
ID： 621
ID： 622
ID： 623
ID： 624
ID： 625
ID： 626
ID： 627
ID： 628
ID： 629
ID： 630
ID： 631
ID： 632
ID： 633
ID： 634
ID： 635
ID： 636
ID： 637
ID： 638
ID： 639
ID： 640
ID： 641
ID： 642
ID： 643
ID： 644
ID： 645
ID： 646
ID： 647
ID： 648
ID： 649
ID： 650
ID： 651
ID： 652
ID： 653
ID： 654
ID： 655
ID： 656
ID： 657
ID： 658
ID： 659
ID： 660
ID： 661
ID： 662
ID： 663
ID： 664
ID： 665
ID： 666
ID： 667
ID： 668
ID： 669
ID： 670
ID： 671
ID： 672
ID： 673
ID： 674
ID： 675
ID： 676
ID： 677
ID： 678
ID： 679
ID： 680
ID： 681
ID： 682
ID： 683
ID： 684
ID： 685
ID： 686
ID： 687
ID： 688
ID： 689
ID： 690
ID： 691
ID： 692
ID： 693
ID： 694
ID： 695
ID： 696
ID： 697
ID： 698
ID： 699
ID： 700
ID： 701
ID： 702
ID： 703
ID： 704
ID： 705
ID： 706
ID： 707
ID： 708
ID： 709
ID： 710
ID： 711
ID： 712
ID： 713
ID： 714
ID： 715
ID： 716
ID： 717
ID： 718
ID： 719
ID： 720
ID： 721
ID： 722
ID： 723
ID： 724
ID： 725
ID： 726
ID： 727
ID： 728
ID： 729
ID： 730
ID： 731
ID： 732
ID： 733
ID： 734
ID： 735
ID： 736
ID： 737
ID： 738
ID： 739
ID： 740
ID： 741
ID： 742
ID： 743
ID： 744
ID： 745
ID： 746
ID： 747
ID： 748
ID： 749
ID： 750
ID： 751
ID： 752
ID： 753
ID： 754
ID： 755
ID： 756
ID： 757
ID： 758
ID： 759
ID： 760
ID： 761
ID： 762
ID： 763
ID： 764
ID： 765
ID： 766
ID： 767
ID： 768
ID： 769
ID： 770
ID： 771
ID： 772
ID： 773
ID： 774
ID： 775
ID： 776
ID： 777
ID： 778
ID： 779
ID： 780
ID： 781
ID： 782
ID： 783
ID： 784
ID： 785
ID： 786
ID： 787
ID： 788
ID： 789
ID： 790
ID： 791
ID： 792
ID： 793
ID： 794
ID： 795
ID： 796
ID： 797
ID： 798
ID： 799
ID： 800
ID： 801
ID： 802
ID： 803
ID： 804
ID： 805
ID： 806
ID： 807
ID： 808
ID： 809
ID： 810
ID： 811
ID： 812
ID： 813
ID： 814
ID： 815
ID： 816
ID： 817
ID： 818
ID： 819
ID： 820
ID： 821
ID： 822
ID： 823
ID： 824
ID： 825
ID： 826
ID： 827
ID： 828
ID： 829
ID： 830
ID： 831
ID： 832
ID： 833
ID： 834
ID： 835
ID： 836
ID： 837
ID： 838
ID： 839
ID： 840
ID： 841
ID： 842
ID： 843
ID： 844
ID： 845
ID： 846
ID： 847
ID： 848
ID： 849
ID： 850
ID： 851
ID： 852
ID： 853
ID： 854
ID： 855
ID： 856
ID： 857
ID： 858
ID： 859
ID： 860
ID： 861
ID： 862
ID： 863
ID： 864
ID： 865
ID： 866
ID： 867
ID： 868
ID： 869
ID： 870
ID： 871
ID： 872
ID： 873
ID： 874
ID： 875
ID： 876
ID： 877
ID： 878
ID： 879
ID： 880
ID： 881
ID： 882
ID： 883
ID： 884
ID： 885
ID： 886
ID： 887
ID： 888
ID： 889
ID： 890
ID： 891
ID： 892
ID： 893
ID： 894
ID： 895
ID： 896
ID： 897
ID： 898
ID： 899
ID： 900
ID： 901
ID： 902
ID： 903
ID： 904
ID： 905
ID： 906
ID： 907
ID： 908
ID： 909
ID： 910
ID： 911
ID： 912
ID： 913
ID： 914
ID： 915
ID： 916
ID： 917
ID： 918
ID： 919
ID： 920
ID： 921
ID： 922
ID： 923
ID： 924
ID： 925
ID： 926
ID： 927
ID： 928
ID： 929
ID： 930
ID： 931
ID： 932
ID： 933
ID： 934
ID： 935
ID： 936
ID： 937
ID： 938
ID： 939
ID： 940
ID： 941
ID： 942
ID： 943
ID： 944
ID： 945
ID： 946
ID： 947
ID： 948
ID： 949
ID： 950
ID： 951
ID： 952
ID： 953
ID： 954
ID： 955
ID： 956
ID： 957
ID： 958
ID： 959
ID： 960
ID： 961
ID： 962
ID： 963
ID： 964
ID： 965
ID： 966
ID： 967
ID： 968
ID： 969
ID： 970
ID： 971
ID： 972
ID： 973
ID： 974
ID： 975
ID： 976
ID： 977
ID： 978
ID： 979
ID： 980
ID： 981
ID： 982
ID： 983
ID： 984
ID： 985
ID： 986
ID： 987
ID： 988
ID： 989
ID： 990
ID： 991
ID： 992
ID： 993
ID： 994
ID： 995
ID： 996
ID： 997
ID： 998
ID： 999
ID： 1000
ID： 1001
ID： 1002
ID： 1003
ID： 1004
ID： 1005
ID： 1006
ID： 1007
ID： 1008
ID： 1009
ID： 1010
ID： 1011
ID： 1012
ID： 1013
ID： 1014
ID： 1015
ID： 1016
ID： 1017
ID： 1018
ID： 1019
ID： 1020
ID： 1021
ID： 1022
ID： 1023
ID： 1024
ID： 1025
ID： 1026
ID： 1027
ID： 1028
ID： 1029
ID： 1030
ID： 1031
ID： 1032
ID： 1033
ID： 1034

ID： 1035
ID： 1036
ID： 1037
ID： 1038
ID： 1039
ID： 1040
ID： 1041
ID： 1042
ID： 1043
ID： 1044
ID： 1045
ID： 1046
ID： 1047
ID： 1048
ID： 1049
ID： 1050
ID： 1051
ID： 1052
ID： 1053
ID： 1054
ID： 1055
ID： 1056
ID： 1057
ID： 1058
ID： 1059
ID： 1060
ID： 1061
ID： 1062
ID： 1063
ID： 1064
ID： 1065
ID： 1066
ID： 1067
ID： 1068
ID： 1069
ID： 1070
ID： 1071
ID： 1072
ID： 1073
ID： 1074
ID： 1075
ID： 1076
ID： 1077
ID： 1078
ID： 1079
ID： 1080
ID： 1081
ID： 1082
ID： 1083
ID： 1084
ID： 1085
ID： 1086
ID： 1087
ID： 1088
ID： 1089
ID： 1090
ID： 1091
ID： 1092
ID： 1093
ID： 1094
ID： 1095
ID： 1096
ID： 1097
ID： 1098
ID： 1099
ID： 1100
ID： 1101
ID： 1102
ID： 1103
ID： 1104
ID： 1105
ID： 1106
ID： 1107
ID： 1108
ID： 1109
ID： 1110
ID： 1111
ID： 1112
ID： 1113
ID： 1114
ID： 1115
ID： 1116
ID： 1117
ID： 1118
ID： 1119
ID： 1120
ID： 1121
ID： 1122
ID： 1123
ID： 1124
ID： 1125
ID： 1126
ID： 1127
ID： 1128
ID： 1129
ID： 1130
ID： 1131
ID： 1132
ID： 1133
ID： 1134
ID： 1135
ID： 1136
ID： 1137
ID： 1138
ID： 1139
ID： 1140
ID： 1141
ID： 1142
ID： 1143
ID： 1144
ID： 1145
ID： 1146
ID： 1147
ID： 1148
ID： 1149
ID： 1150
ID： 1151
ID： 1152
ID： 1153
ID： 1154
ID： 1155
ID： 1156
ID： 1157
ID： 1158
ID： 1159
ID： 1160
ID： 1161
ID： 1162
ID： 1163
ID： 1164
ID： 1165
ID： 1166
ID： 1167
ID： 1168
ID： 1169
ID： 1170
ID： 1171
ID： 1172
ID： 1173
ID： 1174
ID： 1175
ID： 1176
ID： 1177
ID： 1178
ID： 1179
ID： 1180
ID： 1181
ID： 1182
ID： 1183
ID： 1184
ID： 1185
ID： 1186
ID： 1187
ID： 1188
ID： 1189
ID： 1190
ID： 1191
ID： 1192
ID： 1193
ID： 1194
ID： 1195
ID： 1196
ID： 1197
ID： 1198
ID： 1199
ID： 1200
ID： 1201
ID： 1202
ID： 1203
ID： 1204
ID： 1205
ID： 1206
ID： 1207
ID： 1208
ID： 1209
ID： 1210
ID： 1211
ID： 1212
ID： 1213
ID： 1214
ID： 1215
ID： 1216
ID： 1217
ID： 1218
ID： 1219
ID： 1220
ID： 1221
ID： 1222
ID： 1223
ID： 1224
ID： 1225
ID： 1226
ID： 1227
ID： 1228
ID： 1229
ID： 1230
ID： 1231
ID： 1232
ID： 1233
ID： 1234
ID： 1235
ID： 1236
ID： 1237
ID： 1238
ID： 1239
ID： 1240
ID： 1241
ID： 1242
ID： 1243
ID： 1244
ID： 1245
ID： 1246
ID： 1247
ID： 1248
ID： 1249
ID： 1250
ID： 1251
ID： 1252
ID： 1253
ID： 1254
ID： 1255
ID： 1256
ID： 1257
ID： 1258
ID： 1259
ID： 1260
ID： 1261
ID： 1262
ID： 1263
ID： 1264
ID： 1265
ID： 1266
ID： 1267
ID： 1268
ID： 1269
ID： 1270
ID： 1271
ID： 1272
ID： 1273
ID： 1274
ID： 1275
ID： 1276
ID： 1277
ID： 1278
ID： 1279
ID： 1280
ID： 1281
ID： 1282
ID： 1283
ID： 1284
ID： 1285
ID： 1286
ID： 1287
ID： 1288
ID： 1289
ID： 1290
ID： 1291
ID： 1292
ID： 1293
ID： 1294
ID： 1295
ID： 1296
ID： 1297
ID： 1298
ID： 1299
ID： 1300
ID： 1301
ID： 1302
ID： 1303
ID： 1304
ID： 1305
ID： 1306
ID： 1307
ID： 1308
ID： 1309
ID： 1310
ID： 1311
ID： 1312
ID： 1313
ID： 1314
ID： 1315
ID： 1316
ID： 1317
ID： 1318
ID： 1319
ID： 1320
ID： 1321
ID： 1322
ID： 1323
ID： 1324
ID： 1325
ID： 1326
ID： 1327
ID： 1328
ID： 1329
ID： 1330
ID： 1331
ID： 1332
ID： 1333
ID： 1334
ID： 1335
ID： 1336
ID： 1337
ID： 1338
ID： 1339
ID： 1340
ID： 1341
ID： 1342
ID： 1343
ID： 1344
ID： 1345
ID： 1346
ID： 1347
ID： 1348
ID： 1349
ID： 1350
ID： 1351
ID： 1352
ID： 1353
ID： 1354
ID： 1355
ID： 1356
ID： 1357
ID： 1358
ID： 1359
ID： 1360
ID： 1361
ID： 1362
ID： 1363
ID： 1364
ID： 1365
ID： 1366
ID： 1367
ID： 1368
ID： 1369
ID： 1370
ID： 1371
ID： 1372
ID： 1373
ID： 1374
ID： 1375
ID： 1376
ID： 1377
ID： 1378
ID： 1379
ID： 1380
ID： 1381
ID： 1382
ID： 1383
ID： 1384
ID： 1385
ID： 1386
ID： 1387
ID： 1388
ID： 1389
ID： 1390
ID： 1391
ID： 1392
ID： 1393
ID： 1394
ID： 1395
ID： 1396
ID： 1397
ID： 1398
ID： 1399

In [7]:
mappingTest

       0  1     2   3  4
0      0  0     1   0  0
1      0  0     1   1  0
2      0  0     1   2  0
3      0  0     1   3  0
4      0  0     1   4  0
...   .. ..   ...  .. ..
50032  0  0  1400  17  3
50033  0  0  1400  18  3
50034  0  0  1400  19  4
50035  0  0  1400  20  4
50036  0  0  1400  21  4

[50037 rows x 5 columns]

In [11]:
trajTest

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,0,887,104.083924,30.617963,1,1281,593,25,816,958,104.077277,104.090667,30.615296,30.620630
1,0,1,1017,104.098005,30.626660,1,1045,1332,52,968,1067,104.092544,104.103467,30.620669,30.632652
2,0,2,1162,104.111630,30.638730,1,1242,468,21,1087,1238,104.105142,104.118119,30.635350,30.639562
3,0,3,1312,104.127317,30.637199,1,1177,-143,-7,1258,1367,104.121163,104.133470,30.638132,30.636849
4,0,4,1510,104.139791,30.633233,1,0,0,-43,1388,1632,104.136094,104.143487,30.636761,30.629921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9596,0,0,1282,104.033414,30.693410,1400,-879,1201,126,1187,1378,104.037861,104.028665,30.688009,30.698810
9597,0,1,1488,104.026048,30.706766,1400,434,1129,69,1398,1579,104.025339,104.029882,30.701691,30.711841
9598,0,2,1745,104.030536,30.719723,1400,-660,1157,120,1627,1863,104.033492,104.026585,30.714521,30.724925
9599,0,3,2043,104.026707,30.729176,1400,235,164,35,1973,2113,104.025478,104.027936,30.728438,30.729914
9600,0,4,2318,104.026222,30.727810,1400,0,0,172,2263,2374,104.028149,104.024295,30.727369,30.727891

In [12]:
with open('trajTrain.pickle','wb') as f:
	pickle.dump({'trajTrain':trajTrain,'trajTrainOri':trajTrainOri,'mappingTrain':mappingTrain}, f)

In [19]:
with open('trajTrain.pickle','rb') as f:
    trajTrainDict = pickle.load(f)
    trajTrain = trajTrainDict['trajTrain']
    trajTrainOri = trajTrainDict['trajTrainOri']
    mappingTrain = trajTrainDict['mappingTrain']

In [8]:
with open('trajTest.pickle','wb') as f:
	pickle.dump({'trajTest':trajTest,'trajTestOri':trajTestOri,'mappingTest':mappingTest}, f)

In [8]:
with open('trajTest.pickle','rb') as f:
    trajTrainDict = pickle.load(f)
    trajTest = trajTrainDict['trajTest']
    trajTestOri = trajTrainDict['trajTestOri']
    mappingTest = trajTrainDict['mappingTest']

In [21]:
trajTest

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0,0,887,104.083924,30.617963,1,1281,593,25,816,958,104.077277,104.090667,30.615296,30.620630
1,0,1,1017,104.098005,30.626660,1,1045,1332,52,968,1067,104.092544,104.103467,30.620669,30.632652
2,0,2,1162,104.111630,30.638730,1,1242,468,21,1087,1238,104.105142,104.118119,30.635350,30.639562
3,0,3,1312,104.127317,30.637199,1,1177,-143,-7,1258,1367,104.121163,104.133470,30.638132,30.636849
4,0,4,1510,104.139791,30.633233,1,0,0,-43,1388,1632,104.136094,104.143487,30.636761,30.629921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9596,0,0,1282,104.033414,30.693410,1400,-879,1201,126,1187,1378,104.037861,104.028665,30.688009,30.698810
9597,0,1,1488,104.026048,30.706766,1400,434,1129,69,1398,1579,104.025339,104.029882,30.701691,30.711841
9598,0,2,1745,104.030536,30.719723,1400,-660,1157,120,1627,1863,104.033492,104.026585,30.714521,30.724925
9599,0,3,2043,104.026707,30.729176,1400,235,164,35,1973,2113,104.025478,104.027936,30.728438,30.729914
9600,0,4,2318,104.026222,30.727810,1400,0,0,172,2263,2374,104.028149,104.024295,30.727369,30.727891

In [15]:
def getOverlayOneCube(trajList1,trajList2,dtime,distX,distY,angDiffConst):
	maxTime = trajList1[9] + dtime
	minTime = trajList1[9] - dtime
	trajList3 = trajList2.loc[(trajList2[9] > minTime) & (trajList2[9] < maxTime),]
	trajList4 = trajList3.loc[abs(trajList3[9] - trajList1[9]) < dtime,]
	trajList4 = trajList4.loc[abs(trajList4[3] - trajList1[3]) < distX,]
	trajList4 = trajList4.loc[abs(trajList4[4] - trajList1[4]) < distY,]
	trajList4 = trajList4.loc[angleDiff(trajList4[8],trajList1[8]) < angDiffConst,]
	n1 = trajList4.shape[0]
	area1 = DataFrame(numpy.zeros((n1,3), dtype=int))
	area1[0] = trajList4[5].values  #其它軌
	area1[1] = trajList4[1].values  #其它軌第幾cube
	area1[2] = trajList4.index.values  #其它軌此cube在總名單上第幾
	return area1

In [22]:
def angleDiff(a ,b):
	result = abs(a - b)
	result = result.values
	if len(a) > 1:
		index = result > 180
		result[index] = 360 - result[index]
	else:
		if result > 180:
			result = 360 - result
	return result

In [23]:
def getMaxGroup(trajList):
	aList = trajList[10] - trajList[9]
	arr = numpy.array(aList)
	result = numpy.zeros(arr.size)
	n = arr.size
	ratio = n // 2
	for i in range(n):
		x1 = abs(arr - arr[i])
		x2 = numpy.sort(x1)
		result[i] = sum(x2[:ratio])
	minLoc = numpy.where(result == numpy.amin(result))
	if minLoc[0][0] >= 0:
		return arr[minLoc[0][0]]
	else:
		raise Exception('ERROR: getMaxGroup: minLoc[0][0] = %i < 0' % minLoc[0][0])

In [9]:
def ignoreBeginOrLastOnePointCube(traj,trajOri,mapping):
    hist = numpy.bincount(mapping[4])
    n = hist.__len__()
    indexTop = 0
    indexTop2 = 0
    for i in range(n):
        if hist[i] <= 1 :
            indexTop += 1
            indexTop2 += 1
        else:
            break
    indexEnd = traj.shape[0] - 1
    indexEnd2 = trajOri.shape[0] - 1
    for i in range(n-1,0,-1):
        if hist[i] <= 1 :
            indexEnd -= 1
            indexEnd2 -= 1
        else:
            break
    return (traj.iloc[indexTop:(indexEnd+1),:],trajOri.iloc[indexTop2:(indexEnd2+1),:])

In [10]:
trajTestNew,trajTestOriNew = ignoreBeginOrLastOnePointCube(trajTest,trajTestOri,mappingTest)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0]])

In [18]:
trajNoList = numpy.unique(trajTest[5])

expResult = numpy.zeros((trajNoList.size+1,2),dtype='int') #expResult[0]無用
expTotalResult = 0
for targetTrajNo in trajNoList[0:100]:
    #targetTrajNo = 2
    targetTraj = trajTest.loc[trajTest[5] == targetTrajNo,].copy()
    realTime = targetTraj.iloc[-1,10]-targetTraj.iloc[0,9]
    expResult[targetTrajNo,0] = realTime
    totalTime = 0
    n = targetTraj.shape[0]
    commonTime = 0
    for i2 in range(n):
        if i2 > 0:
            #print(targetTraj.iloc[i2,9],',',targetTraj.iloc[i2-1, 9] + commonTime)
            targetTraj.iloc[i2,9] = targetTraj.iloc[i2-1, 9] + commonTime
        area = getOverlayOneCube(targetTraj.iloc[i2,],
                                 trajTrain,
                                 3600,
                                 epLng,
                                 epLat,
                                 50)
        commonTime = getMaxGroup(trajTrain.loc[area[2],])
        totalTime += commonTime
    expResult[targetTrajNo,1] = totalTime
#expTotalResult += abs(totalTime-realTime) / realTime
#print(trajNoList.size)

In [11]:
targetTrajNo = 12
targetTraj = trajTest.loc[trajTest[5] == targetTrajNo,].copy()
targetTrajOri = trajTestOri.loc[trajTestOri[5] == targetTrajNo,].copy()
targetMapping = mappingTest.loc[mappingTest[2] == targetTrajNo,].copy()
targetNew,targetOriNew = ignoreBeginOrLastOnePointCube(targetTraj,targetTrajOri,targetMapping)
realTime = targetNew.iloc[-1,10]-targetNew.iloc[0,9]
totalTime = 0
n = targetNew.shape[0]
commonTime = 0
#for i2 in range(n):

In [24]:
#i2 = 6
for i2 in range(n):
    if i2 > 0:
            #print(targetTraj.iloc[i2,9],',',targetTraj.iloc[i2-1, 9] + commonTime)
            targetNew.iloc[i2,9] = targetNew.iloc[i2-1, 9] + commonTime
    area = getOverlayOneCube(targetNew.iloc[i2,],
                                 trajTrain,
                                 3600,
                                 epLng,
                                 epLat,
                                 50)
    commonTime = getMaxGroup(trajTrain.loc[area[2],])
    totalTime += commonTime

/home/oscar/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [38]:
targetTraj.iloc[:,10]-targetTraj.iloc[:,9]

82    414
83    323
84    248
85     69
86     51
87     50
88     70
89     81
90     69
91     61
dtype: int64

In [27]:
trajTest.loc[trajTest[5] == targetTrajNo,]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
82,0,0,1723,103.957217,30.572058,12,-15,-70,-102,1516,1930,103.957217,103.957060,30.572058,30.571428
83,0,1,2091,103.957060,30.571428,12,1,-66,-89,1930,2253,103.957060,103.957066,30.571428,30.570832
84,0,2,2377,103.960088,30.569458,12,802,65,5,2253,2501,103.957066,103.965446,30.570832,30.571416
85,0,3,2545,103.973753,30.570923,12,1193,105,5,2511,2580,103.967521,103.979985,30.570735,30.571675
86,0,4,2615,103.988411,30.573147,12,1189,242,12,2590,2641,103.982199,103.994622,30.572058,30.574235
87,0,5,2676,104.002805,30.575660,12,1101,224,11,2651,2701,103.997054,104.008556,30.574654,30.576666
88,0,6,2755,104.018592,30.581671,12,1311,989,37,2720,2790,104.011744,104.025441,30.577224,30.586117
89,0,7,2841,104.034191,30.593144,12,1277,1189,43,2801,2882,104.027521,104.040861,30.587799,30.598488
90,0,8,2926,104.050042,30.604413,12,1387,964,35,2892,2961,104.042795,104.057290,30.600078,30.608749
91,0,9,3001,104.063839,30.610226,12,0,0,23,2971,3032,104.059997,104.067283,30.608707,30.611857

In [28]:
targetNew

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
84,0,2,2377,103.960088,30.569458,12,802,65,5,2253,2501,103.957066,103.965446,30.570832,30.571416
85,0,3,2545,103.973753,30.570923,12,1193,105,5,2475,2580,103.967521,103.979985,30.570735,30.571675
86,0,4,2615,103.988411,30.573147,12,1189,242,12,2564,2641,103.982199,103.994622,30.572058,30.574235
87,0,5,2676,104.002805,30.575660,12,1101,224,11,2625,2701,103.997054,104.008556,30.574654,30.576666
88,0,6,2755,104.018592,30.581671,12,1311,989,37,2686,2790,104.011744,104.025441,30.577224,30.586117
89,0,7,2841,104.034191,30.593144,12,1277,1189,43,2757,2882,104.027521,104.040861,30.587799,30.598488
90,0,8,2926,104.050042,30.604413,12,1387,964,35,2828,2961,104.042795,104.057290,30.600078,30.608749
91,0,9,3001,104.063839,30.610226,12,0,0,23,2899,3032,104.059997,104.067283,30.608707,30.611857

In [29]:
targetOriNew

     0  1       2           3          4   5
494  0  2  2253.0  103.957066  30.570832  12
495  0  3  2314.0  103.957026  30.570585  12
496  0  4  2336.0  103.956948  30.570155  12
497  0  5  2359.0  103.955436  30.568939  12
498  0  6  2369.0  103.954730  30.567885  12
499  0  7  2379.0  103.956551  30.566833  12
500  0  8  2420.0  103.958749  30.567217  12
501  0  9  2450.0  103.959851  30.569702  12

In [30]:
targetMapping

     0  1   2   3  4
492  0  0  12   0  0
493  0  0  12   1  1
494  0  0  12   2  2
495  0  0  12   3  2
496  0  0  12   4  2
..  .. ..  ..  .. ..
549  0  0  12  57  9
550  0  0  12  58  9
551  0  0  12  59  9
552  0  0  12  60  9
553  0  0  12  61  9

[62 rows x 5 columns]

In [26]:
print('commonTime = ',commonTime)
print('totalTime = ',totalTime)
print('realTime = ',realTime)

commonTime =  79
totalTime =  725
realTime =  779

In [31]:
expResult[12]

array([1516, 1199])

In [58]:
with open('expResult1-5000.pickle','wb') as f:
	pickle.dump(expResult, f)

In [50]:
trajNoList.size

18000

In [32]:
trajTest.loc[trajTest[5] == 12,]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
82,0,0,1723,103.957217,30.572058,12,-15,-70,-102,1516,1930,103.957217,103.957060,30.572058,30.571428
83,0,1,2091,103.957060,30.571428,12,1,-66,-89,1930,2253,103.957060,103.957066,30.571428,30.570832
84,0,2,2377,103.960088,30.569458,12,802,65,5,2253,2501,103.957066,103.965446,30.570832,30.571416
85,0,3,2545,103.973753,30.570923,12,1193,105,5,2511,2580,103.967521,103.979985,30.570735,30.571675
86,0,4,2615,103.988411,30.573147,12,1189,242,12,2590,2641,103.982199,103.994622,30.572058,30.574235
87,0,5,2676,104.002805,30.575660,12,1101,224,11,2651,2701,103.997054,104.008556,30.574654,30.576666
88,0,6,2755,104.018592,30.581671,12,1311,989,37,2720,2790,104.011744,104.025441,30.577224,30.586117
89,0,7,2841,104.034191,30.593144,12,1277,1189,43,2801,2882,104.027521,104.040861,30.587799,30.598488
90,0,8,2926,104.050042,30.604413,12,1387,964,35,2892,2961,104.042795,104.057290,30.600078,30.608749
91,0,9,3001,104.063839,30.610226,12,0,0,23,2971,3032,104.059997,104.067283,30.608707,30.611857

In [33]:
trajTestOri.loc[trajTestOri[5] == 12,]

     0   1       2           3          4   5
492  0   0  1516.0  103.957217  30.572058  12
493  0   1  1930.0  103.957060  30.571428  12
494  0   2  2253.0  103.957066  30.570832  12
495  0   3  2314.0  103.957026  30.570585  12
496  0   4  2336.0  103.956948  30.570155  12
..  ..  ..     ...         ...        ...  ..
549  0  57  2981.0  104.062610  30.608643  12
550  0  58  2992.0  104.065146  30.608595  12
551  0  59  3012.0  104.067681  30.608848  12
552  0  60  3022.0  104.067360  30.610263  12
553  0  61  3032.0  104.067283  30.611857  12

[62 rows x 6 columns]

In [38]:
realTime

1079

In [39]:
totalTime

1138

In [40]:
commonTime

229

In [41]:
expTotalResult

0.05468025949953661

In [ ]:
realTime = targetTraj.iloc[-1,10]-targetTraj.iloc[0,9]
expTotalResult += abs(totalTime-realTime) / realTime

In [4]:
with open('expResult1-5000.pickle','rb') as f:
	expResult = pickle.load(f)

In [14]:
print(expResult[:,1])

[   0 1148 1138 ...    0    0    0]

In [21]:
deviation = numpy.absolute(expResult[1:101,0] - expResult[1:101,1])

In [30]:
deviation[12]

1195

In [27]:
eachAPE = (deviation * 100) / expResult[1:101,0] 
eachAPE.astype(int)

array([11, 22, 27, 18, 28, 32, 39, 16, 16, 11, 36, 20, 50, 46, 10, 11,  0,
       12,  3, 16, 10, 12,  0,  6,  5, 20, 19, 22, 36, 25, 19, 15,  2, 14,
       15, 63, 74, 27,  0, 19, 60, 17,  6, 24,  7, 10, 56,  0,  5, 39,  4,
       20,  2, 11, 23, 38, 34, 28, 49, 48, 22, 16,  1, 32, 30,  0,  4,  4,
       12, 11, 21,  2,  3, 18, 18,  9, 15, 32,  8, 14, 29, 18,  4, 37,  0,
        1, 19,  4,  9, 37,  3, 36, 29,  4,  2,  5, 18,  0, 14,  4])

In [18]:
MAPE = numpy.mean(eachAPE)
MAPE

0.18197352261549427

In [20]:
expResult[4999,]

array([449, 702])